.wrapper {
    width: 950px;
    margin: 0 auto;
}
.jumbotron {
    margin: 60px auto;
    padding: 15px;
    text-align: center;
}
.navbar {
    font-weight: bold;
}
.navbar-nav {
    float: right;
}
.big_logo {
    text-align: center;
    margin-bottom: 30px;
}
.index_symbols {
    margin: 20px 0;
}
.index_symbol article {
    display: inline-block;
    font-size: 18px;
}
.index_symbol .value {
    min-width: 65px;
}
.index_symbol .name {
    min-width: 80px;
}
.arrow {
    height: 35px;
    margin-top: -3px;
}
.index_symbol .name, .index_symbol .value {
    text-align: center;
    padding: 2px;
    border: 1px solid #000000;
}
.small_form {
    width: 400px;
    margin: auto;
}

/* helpers*/
.red {
    color: red;
}
.green {
    color: green;
}

/*charts*/
/*hidden links*/
a[href='http://www.amcharts.com/javascript-charts/'] {
    display: none !important;
}

#chartdiv {
  width : 100%;
  height  : 455px;
  position: relative;
  color: #000000;
}
#chartdiv .amChartsPeriodSelector {
  padding-left: 35px;
}
.amChartsButtonSelected {
  font-weight: bold;
}
.amChartsButton {
  color: #000000;
  background: transparent;
  opacity: 0.7;
  border: 1px solid rgba(255,255,2555,.3);
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 1px;
  outline: none;
  box-sizing: border-box;
}
.amChartsInputField {
  color: #000;
}
.demo-flipper-front {
  border: 1px solid #000;
  background: #000;
}