.wrapper {
    width: 950px;
    margin: 0 auto;
}
.jumbotron {
    margin: 60px auto;
    padding: 15px;
    text-align: center;
}
.navbar {
    font-weight: bold;
}
.navbar-nav {
    float: right;
}
.big_logo {
    text-align: center;
    margin-bottom: 30px;
}
.index_symbols {
    margin: 20px 0;
}
.index_symbol article {
    display: inline-block;
    font-size: 18px;
}
.index_symbol .value {
    min-width: 65px;
}
.index_symbol .name {
    min-width: 80px;
}
.arrow {
    height: 35px;
    margin-top: -3px;
}
.index_symbol .name, .index_symbol .value {
    text-align: center;
    padding: 2px;
    border: 1px solid #000000;
}
.index_symbol .name {
    cursor: pointer;
}
.small_form {
    width: 400px;
    margin: auto;
}

.primary-symbol {
    background: #008cba;
    color: #ffffff;
}
.activity {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.main-list-group {
    margin-bottom: 10px;
}
.main-list {
    text-align: left;
    cursor: pointer;
}
.cabinet-panel {
    width: 500px;
    margin: auto;
}
.cabinet-panel .list-group-item{
    padding: 0;
}
.cabinet-table th {
    text-align: center;
    background: #dddfe0;
    width: 50%;
}
.cabinet-table tr td:first-child {
    font-weight: bold;
    text-align: left;
}
.cabinet-table tr td:last-child {
    text-align: right;
}
.order_type {
    margin: 10px 0;
}
.order_data label {
    font-size: 16px;
}

/* helpers*/
.red {
    color: red;
}
.green {
    color: green;
}

/*charts*/
/*hidden links*/
a[href='http://canvasjs.com/'] {
    display: none !important;
}

#chartdiv {
  width : 100%;
  height  : 455px;
  position: relative;
  color: #000000;
}