{% extends "_layout_.html" %}

{% block modal %}
    <article class="modal-header">
        <h3>Account creating</h3>
    </article>
    <article class="modal-body" ng-controller="creatingAccount">
        <form ng-controller="creatingAccount" ng-submit="submit()">
            <h4>Symbols</h4>
            <select class="form-control" ng-model="userdata.category">
                <option value="{[ type.pk ]}" ng-repeat="type in types">{[ type.fields.name ]}</option>
            </select>
            <h4>Leverage</h4>
            <select class="form-control" ng-model="userdata.leverage">
                <option>1</option>
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
            </select>
            <h4>Value (USD)</h4>
            <input type="text" class="form-control" placeholder="5000" ng-model="userdata.value"/><br/>
            <button class="btn btn-primary">Create</button>
        </form>
    </article>
{% endblock %}

{% block content %}
    <section class="row">
        <article class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Your accounts</h3>
                </div>
                <div class="panel-body" ng-controller="listAccounts">
{#                    <article class="list-group-item" ng-repeat="account in accounts">#}
{#                        //#}
{#                    </article>#}
                    <article class="btn btn-primary" data-toggle="modal" data-target="#modal">New</article>
                    <br/>
                    <ul class="nav nav-pills activity">
                        <li ng-class="get_class(1)" ng-click="change_active(1)"><a>Active</a></li>
                        <li ng-class="get_class(0)" ng-click="change_active(0)"><a>Inactive</a></li>
                    </ul>
                </div>
            </div>
        </article>
        <article class="col-md-8">Test</article>
    </section>
{% endblock %}