{% extends "_layout_.html" %}

{% block content %}
    <section class="all_charts" ng-controller="allCharts">
        <article class="alert alert-danger" ng-if="error_message">
                <b>{[ error_message ]}</b>
        </article>
        <highchart id="chart1" config="chartConfig" class="span10"></highchart>
        <article class="btn-group btn-group-justified">
            <a ng-class="get_class_period('min')" ng-click="change_period('min')">1 minute</a>
            <a ng-class="get_class_period('min5')" ng-click="change_period('min5')">5 minutes</a>
            <a ng-class="get_class_period('min15')" ng-click="change_period('min15')">15 minutes</a>
            <a ng-class="get_class_period('min30')" ng-click="change_period('min30')">30 minutes</a>
            <a ng-class="get_class_period('hour')" ng-click="change_period('hour')">Hours</a>
            <a ng-class="get_class_period('day')" ng-click="change_period('day')">Days</a>
        </article>
        <article class="table_types" ng-repeat="(type, symbols) in symbol_types">
            <h3>{[ type ]}</h3>
            <article class="row">
                <article class="index_symbol col-md-3" ng-repeat="symbol in symbols">
                    <article class="name" ng-class="get_class_symbol(symbol.code)" ng-click="change_symbol({name: symbol.name, code: symbol.code})">{[ symbol.name ]}</article>
                    <article class="value {[ symbol.color ]}">{[ symbol.price ]}</article>
                    <img class="arrow" ng-src="{[ '/static/imgs/staff/' + symbol.arrow ]}" alt="arrow"/>
                </article>
            </article>
        </article>
    </section>
{% endblock %}