{% extends "_layout_.html" %}

{% block content %}
    <article class="small_form">
        <form ng-controller="login" name="login" ng-submit="submit()">
            <h2>Login</h2>
            <article class="alert alert-danger" ng-if="error_message">
                <b>{[ error_message ]}</b>
            </article>
            <input type="text" placeholder="Username" class="form-control" ng-model="userdata.username" required /><br/>
            <input type="password" placeholder="Password" class="form-control" ng-model="userdata.password" required /><br/>
            <button class="btn btn-primary">Login</button>
        </form>
    </article>
{% endblock %}