{% extends "_layout_.html" %}

{% block content %}
    <article class="small_form">
        <form ng-controller="registration" name="register" ng-submit="submit()">
            <h2>Registration</h2>
            <article class="alert alert-danger" ng-if="error_message">
                <b>{[ error_message ]}</b>
            </article>
            <input type="text" placeholder="First name" class="form-control" ng-model="userdata.first" required /><br/>
            <input type="text" placeholder="Last name" class="form-control" ng-model="userdata.last" required /><br/>
            <input type="text" placeholder="Username" class="form-control" ng-model="userdata.username" required /><br/>
            <input type="text" placeholder="E-mail" class="form-control" ng-model="userdata.mail" required /><br/>
            <input type="password" placeholder="Password" class="form-control" ng-model="userdata.password" required /><br/>
            <button class="btn btn-primary">Submit</button>
        </form>
    </article>
{% endblock %}